
$color-redLight: #f57676;
$color-white: #fff;

.error-wrapper {
  margin-bottom: 15px;
}

.error-label {
  display: block;
  color: $color-white;
  font-weight: 600;
  font-size: 16px;
  background: $color-redLight;
  padding: 10px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1px;
}
